/* Override the default color set in the original theme */

html[data-theme="light"] {
    /* NOTE: added after pydata v0.9 */
    --pst-color-primary: #080c80 !important;

    /* hyperlinks */
    --pst-color-link: rgb(13, 56, 224);

    /* panels */
    --pst-color-preformatted-border: #080c80 !important;
    --pst-color-panel-background: #f0f0f075;

    /* navbar */
    /* NOTE: does not work since v0.9 */
    --pst-color-navbar-link: rgb(237, 237, 255);
    --pst-color-navbar-link-hover: #fff;
    --pst-color-navbar-link-active: #fff;


    /* sphinx design */
    /* NOTE: does not work since v0.9 */
    --sd-color-card-border-hover: #080c80;
    --sd-color-tabs-label-active: #080c80;
    --sd-color-tabs-label-hover: #080c80;
    --sd-color-tabs-underline-active: #080c80;
}

/* enlarge deltares & github icon size; only works with local/url svg files; not with fa icons */
img.icon-link-image {
    height: 2.5em !important;
}
